/* general ************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  color: #33475b;
  font-size: 18px;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.button-orange {
  color: #fff;
  background-color: #ff7a59;
  border-radius: 5px;
  padding: 15px 32px;
  text-decoration: none;
}

.button-orange:hover {
  opacity: .5;
}

ul {
  list-style-type: none;
}

h3 {
  font-size: 24px;
}

.card p {
  font-size: 17px;
  padding: 8px 0;
}

p.uppercase {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
}

.card img {
  max-width: 220px;
  max-height: 150px;
}


/* header **********************/


  /* nav superiore ***************/
  #navup {
  background-color: #F5F8FA;
  border-bottom: 1px solid #cbd6e2;
  }

  .item-nu {
    width: 30%;
    float: left;
  }

  .item-nu:nth-child(2) {
    float: right;
  }


  #navup li {
    display: inline-block;
  }

  #navup li a {
    display: inline-block;
    padding: 25px 0;
    text-decoration: none;
  }

  span.english {
    border-right: solid 2px #cbd6e2;
    padding-right: 20px;
  }

  span.fa-search {
    color: #6CC2D1;
  }

  #navup ul li:nth-child(2) a {
    padding-left: 20px;
  }

  .item-nu.second .fa-search {
    padding-right: 20px;
  }

  #navup .item-nu.second .border {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 35px;
    padding-left: 35px;
    border: solid 1px #ff7a59;
    border-radius: 5px;
    color: #ff7a59;
    background-color: #fff;
  }

  #navup .item-nu.second .border:hover {
    background-color: #fff1ee;
  }

  #navup .item-nu.second .button {
    color: #fff;
    background-color: #ff7a59;
    border-radius: 5px;
    padding: 10px 15px;
  }

  #navup .item-nu.second .button:hover {
    opacity: .5;
  }

  .item-nu.second ul li:nth-child(3) {
    padding-left: 10px;
  }


  /* nav inferiore ****************/
  #navdown {
  background-color: #fff;
  }

  .logo, .menu {
    padding: 22px 0;
  }

  .logo {
    width: 25%;
    float: left;
  }

  .menu {
    width: 50%;
    float: right;
  }


  #navdown li {
    display: inline-block;
  }

  #navdown li a {
    text-decoration: none;
    display: inline-block;
    font-weight: 700;
    padding-left: 30px;
    padding-top: 6px;
    padding-bottom: 6px;
  }


/* contenuto principale ***************/


  /* sezione jumbotron *************************/
  #jumbotron {
    background-image: url(../img/jumbotron.png);
    background-position: center 1px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero {
    width: 34%;
    padding: 100px 0;
  }

  .hero a {
    text-decoration: none;
    color: #fff;
    padding: 25px 30px;
    background-color: #ff7a59;
    border-radius: 5px;
  }

  .hero a:hover {
    opacity: .5;
  }

  .hero p {
    padding-bottom: 50px;
    line-height: 30px;
  }

  p.small {
    font-size: 13px;
    padding-top: 50px;
    padding-bottom: 150px;
    line-height: 20px;
  }

  h1 {
    font-size: 52px;
    line-height: 60px;
    padding-bottom: 30px;
  }

  /* sezione cards *********************/

    /* sottosezione rubik **********/
    .rubik {
      width: 62%;
      margin: 0 auto;
      text-align: center;
      padding: 80px 0;
    }

    .rubik img {
      max-width: 250px;
    }

    .rubik h2 {
      font-size: 35px;
    }

    .rubik p {
      padding: 20px 0;
      line-height: 27px;
    }

    /* sottosezione features *******/
  #cards {
    background-color: #F5F8FA;
    padding-bottom: 60px;
  }

  .card {
    background-color: #fff;
    padding: 48px;
    width: 31.3333%;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(210, 210, 210, .4);
    float: left;
  }

  .card:nth-child(4) {
    margin: 0 3%;
  }

  .card.crm {
    width: 100%;
    float: none;
    padding: 35px 35px 50px 65px;
    margin-bottom: 40px;
  }

  .feature-card {
    width: 22%;
    float: left;
    text-align: center;
  }

  .feature-card img {
    max-height: 192.031px
  }

  .cap-crm {
    width: 69%;
    float: right;
  }

  .cap-crm li {
    display: inline-block;
    font-size: 15px;
    margin-right: 22px;
  }

  .popular-features {
    position: relative;
    padding: 7px 0;
  }

  .line {
    border-bottom: solid 1px #E1E6ED;
    position: absolute;
    top: 24px;
    width: 79%;
    margin-left: 10px;
  }

  .feature-card img {
    max-width: 220px;
    padding-bottom: 35px;
  }

  .check {
    color: #fff;
    background-color: #ff7a59;
    padding: 5px;
    border-radius: 100%;
    font-size: 10px;
    margin-right: 7px;
  }


  .feature {
    text-align: center;
  }

  .feature p {
    text-align: left;
    font-size: 17px;
    padding-bottom: 28px;
    border-bottom: solid 1px #E1E6ED;
    line-height: 28px;
  }

  .start .uppercase {
    text-align: center;
    padding-top: 28px;
  }

  .start li {
    font-size: 15px;
    padding-top: 15px;
  }

  .get-started {
    text-align: center;
    padding: 50px 0 0 0;
  }


  /* sezione date *********************/
  #date {
    background-image: linear-gradient(to right, #00a4bd, #00bda5);
    padding: 90px 0;
  }

  .description {
    padding: 0 0 80px 0;
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }

  .description h2 {
    color: #fff;
    font-size: 33px;
    padding-bottom: 25px;
  }

  .description p {
    color: #fff;
    line-height: 30px;
    font-size: 19px;
  }

  .container .info.clearfix:nth-child(2) {
    border-bottom: solid 1px #fff;
  }

  .info .specific {
    width: 25%;
    float: left;
    padding: 20px;
    text-align: center;
    border-right: solid 1px #fff;
  }

  .info .specific:last-child {
    border: none;
  }


  .specific img {
    height: 32px;
  }

  .specific h2 {
    color: #fff;
    font-size: 55px;
    position: relative;
  }

  .specific p {
    color: #fff;
    font-size: 19px;
  }

  .specific .più {
    color: #fff;
    position: absolute;
    top: 24px;
    font-size: 20px;
  }

  /* sezione customer *****************/
  #customer {
    background-color: #fff;
    padding-top: 100px;
  }

  .countries {
    width: 25%;
    float: left;
  }

  .countries h2 {
    font-size: 45px;
  }

  .countries p {
    font-size: 20px;
    line-height: 30px;
  }

  .partners {
    width: 50%;
    float: right;
  }

  .partners img {
    max-width: 120px;
    height: 30px;
  }

  .partner {
    width: 25%;
    float: left;
    padding: 15px;
  }

  .partner:nth-child(7) {
    padding-top: 5px;
    }

    .partner:nth-child(8) {
      padding-top: 11px;
    }

  .partners .partner:first-child img, .partners .partner:nth-child(2) img  {
    height: 15px;
  }

  .partners .partner:nth-child(6) img {
    height: 18px;
    max-width: 125px;
  }

  .partners .partner:nth-child(7) img {
    height: 35px;
  }

  .partners .partner:nth-child(8) img {
    height: 25px;
  }


  /* sottosezione articolo *******************/
  article .caption {
    width: 43%;
    float: left;
  }

  article {
    padding: 150px 0 70px 0;
  }

  article .picture {
    width: 30%;
    float: right;
  }

  .caption h2 {
    font-size: 35px;
  }

  .caption p {
    font-size: 20px;
    padding: 25px 0 45px 0;
    line-height: 30px;
  }

  .caption .small {
    font-size: 14px;
    padding-top: 42px;
    color: rgb(81, 111, 144);
  }

  .picture img {
    width: 100%;
    max-height: 430px;
  }


/* footer **************************/
footer {
  background-color: lightyellow;
  border: solid 1px black;
  padding: 140px 0;
}

.documents {
  background-color: #ebe100;
  border: solid 1px black;
  padding: 60px 0;
}

.document {
  background-color: #868000;
  border: solid 1px black;
  padding: 20px 0;
  width: 25%;
  float: left;
}

.language {
  background-color: #b07f00;
  border: solid 1px black;
  padding: 30px 0;
}

.last {
  background-color: #57ac3e;
  border: solid 1px black;
  padding: 60px 0;
}

.copy, .privacy {
  background-color: #baf7a8;
  border: solid 1px black;
  padding: 20px 0;
  width: 25%;
}

.copy {
  float: left;
}

.privacy {
  float: right;
}
