/* general ************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  color: #33475b;
  font-size: 18px;
}


.container {
  max-width: 1250px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.button-orange {
  color: #fff;
  background-color: #ff7a59;
  border-radius: 5px;
  padding: 15px 32px;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* header **********************/


  /* nav superiore ***************/
  #navup {
  background-color: #F5F8FA;
  border-bottom: 1px solid #cbd6e2;
  }

  .item-nu {
    width: 30%;
    float: left;
  }

  .item-nu:nth-child(2) {
    float: right;
  }


  #navup li {
    display: inline-block;
  }

  #navup li a {
    display: inline-block;
    padding: 25px 0;
    text-decoration: none;
  }

  span.english {
    border-right: solid 2px #cbd6e2;
    padding-right: 20px;
  }

  span.fa-search {
    color: #6CC2D1;
  }

  #navup ul li:nth-child(2) a {
    padding-left: 20px;
  }

  .item-nu.second .fa-search {
    padding-right: 20px;
  }

  #navup .item-nu.second .border {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 35px;
    padding-left: 35px;
    border: solid 1px #ff7a59;
    border-radius: 5px;
    color: #ff7a59;
    background-color: #fff;
  }

  #navup .item-nu.second .border:hover {
    background-color: #fff1ee;
  }

  #navup .item-nu.second .button {
    color: #fff;
    background-color: #ff7a59;
    border-radius: 5px;
    padding: 10px 15px;
  }

  #navup .item-nu.second .button:hover {
    opacity: .5;
  }

  .item-nu.second ul li:nth-child(3) {
    padding-left: 10px;
  }


  /* nav inferiore ****************/
  #navdown {
  background-color: #fff;
  }

  .logo, .menu {
    padding: 22px 0;
  }

  .logo {
    width: 25%;
    float: left;
  }

  .menu {
    width: 50%;
    float: right;
  }


  #navdown li {
    display: inline-block;
  }

  #navdown li a {
    text-decoration: none;
    display: inline-block;
    font-weight: 700;
    padding-left: 30px;
    padding-top: 6px;
    padding-bottom: 6px;
  }


/* contenuto principale ***************/


  /* sezione jumbotron *************************/
  #jumbotron {
    background-image: url(../img/jumbotron.png);
    background-position: center -80px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero {
    width: 34%;
    padding: 100px 0;
  }

  .hero a {
    text-decoration: none;
    color: #fff;
    padding: 25px 30px;
    background-color: #ff7a59;
    border-radius: 5px;
  }

  .hero a:hover {
    opacity: .5;
  }

  .hero p {
    padding-bottom: 50px;
    line-height: 30px;
  }

  p.small {
    font-size: 13px;
    padding-top: 50px;
    padding-bottom: 150px;
    line-height: 20px;
  }

  h1 {
    font-size: 52px;
    line-height: 60px;
    padding-bottom: 30px;
  }

  /* sezione cards *********************/

    /* sottosezione rubik **********/
    .rubik {
      width: 62%;
      margin: 0 auto;
      text-align: center;
      padding-top: 80px;
    }

    .rubik img {
      max-width: 250px;
    }

    .rubik h2 {
      font-size: 35px;
    }

    .rubik p {
      padding: 20px 0;
      line-height: 27px;
    }

    /* sottosezione features *******/
  #cards {
    background-color: #F5F8FA;
  }

  .card {
    background-color: #4b9ac6;
    border: solid 1px black;
    padding: 30px 0;
    width: calc(1250px/3);
  }

  .card.crm {
    width: 100%;
    float: none;
    padding: 30px 0 30px 80px;
  }

  .card {
    float: left;
  }

  .feature-card {
    background-color: darkred;
    width: 25%;
    float: left;
  }

  .cap-crm {
    background-color: lightblue;
    order: solid 1px black;
    width: 70%;
    float: right;
  }

  .feature-card img {
    max-width: 230px;
  }


  /* sezione date *********************/
  #date {
    background-color: darkorange;
    border: solid 1px black;
    padding: 50px 0;
  }

  .description {
    background-color: #d69b18;
    border: solid 1px black;
    padding: 20px 0;
    width: 70%;
    margin: 0 auto;
  }

  .info {
    background-color: #d69b18;
    border: solid 1px black;
    padding: 30px 0;
  }

  .info .specific {
    background-color: #ffd371;
    border: solid 1px black;
    width: 25%;
    float: left;
    padding: 10px 0;
  }

  /* sezione customer *****************/
  #customer {
    background-color: lightpink;
    border: solid 1px black;
    padding: 130px 0;
  }

  .customers {
    background-color: #d05df2;
    border: solid 1px black;
    padding: 50px 0;
  }

  .countries, .partners {
    background-color: #9800c4;
    border: solid 1px black;
    padding: 20px 0;
  }

  .countries {
    width: 25%;
    float: left;
  }

  .partners {
    width: 55%;
    float: right;
  }

  #customer article {
    background-color: rosybrown;
    border: solid 1px black;
    padding: 50px 0;
  }

  article .caption, article .picture {
    background-color: saddlebrown;
    border: solid 1px black;
    padding: 20px 0;
  }

  article .caption {
    width: 40%;
    float: left;
  }

  article .picture {
    width: 30%;
    float: right;
  }

/* footer **************************/
footer {
  background-color: lightyellow;
  border: solid 1px black;
  padding: 140px 0;
}

.documents {
  background-color: #ebe100;
  border: solid 1px black;
  padding: 60px 0;
}

.document {
  background-color: #868000;
  border: solid 1px black;
  padding: 20px 0;
  width: 25%;
  float: left;
}

.language {
  background-color: #b07f00;
  border: solid 1px black;
  padding: 30px 0;
}

.last {
  background-color: #57ac3e;
  border: solid 1px black;
  padding: 60px 0;
}

.copy, .privacy {
  background-color: #baf7a8;
  border: solid 1px black;
  padding: 20px 0;
  width: 25%;
}

.copy {
  float: left;
}

.privacy {
  float: right;
}
